---
title: "Resources"
layout: "default.njk"
---

<section>
  <div class="container">
    <h1>Resources</h1>

    <ul>
      {% for post in collections.resources %}
        <li style="margin-bottom: 2rem;">
          <a href="{{ post.url }}">
            <h3>{{ post.data.title }}</h3>
          </a>

          {% if post.data.description %}
            <p>{{ post.data.description }}</p>
          {% endif %}

          <small>{{ post.date | date("MMMM d, yyyy") }}</small>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>