---
permalink: "about/index.html"
---

<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}

<body class="home-page">
{% include "header.njk" %}

  <main>
    <section id="meet">
      <div class="meet-container">
        <div class="meet-columns">
          <div class="meet-image">
            <img src="/images/pictures/mk_self_portrait.png" alt="Makenzie smiling" />
          </div>

          <div class="meet-text">
            <h2><b>Learn More about Makenzie</b></h2>
            <hr />
            <h2>Board Certified Music Therapist</h2>
            <p>
              I'm Makenzie, a board-certified music therapist providing music therapy services for adults over 18 experiencing mental health challenges, including anxiety, depression, trauma, emotional burnout, and neurodivergence. <br><br>
              I work with individuals who are often insightful, reflective, and highly self-aware — people who may feel stuck in talk therapy despite understanding why they feel the way they do. Many of my clients have tried traditional talk therapy and are looking for a more embodied, experiential approach to mental health care.<br><br>
              Music therapy allows us to move beyond words and into lived experience. Through evidence-based, music-centered interventions that require you to have no musical experince, we explore emotional regulation, identity, nervous system responses, and self-expression in ways that support lasting change. Sessions are collaborative, affirming, and tailored to your unique needs, strengths, and goals.<br><br>
              I don't believe therapy should be about being “fixed” or directed by an outside authority. You are the expert on your own life, mind, and body. My role is to guide the process by offering clinical knowledge, structure, and tools that help you access your own insight and resilience.<br><br>
              If you're seeking a music therapist who values autonomy, creativity, and depth, I'm here to support you as you move toward a life that feels more balanced, authentic, and sustainable. <br><br>
              Board Certified by the Certification Board for Music Therapists (Certification no. 09509) Expires June of 2030 <br>
              Wisconsin Music Therapist- Registered (Registration no. 111-38) Expires September of 2027<br>
              Bachelor of Music Therapy from University of Wisconsin, Eau Claire<br>
            </p>
          </div>
        </div>

        <div class="mission-vision-cards">
          <div class="mv-card">
            <h2>Our Mission</h2>
              <p>To provide evidence based music therapy that empowers individuals to become in tune with their authentic self by cultivating personal growth and meaningful change.  Individuals can expect the specialized use of music to provide a unique, holistic and transformative healing experience that oozes compassion, affirmation, safety and acceptance.</p>
          </div>

          <div class="mv-card">
            <h2>Our Vision</h2>
              <p>To expand the meaning of mental health care by affirming music therapy as a transformative and effective treatment, reaching places words alone cannot.  We envision a future where creative arts therapies stand confidently beside other mental health treatment modalities not as an alternative, but as essential partners in healing, offering depth and transformation that elevates and enhances the therapeutic work happening across all modalities.</p>
          </div>
        </div>
      </div>
    </section>
  </main>

{% include "footer.njk" %}
</body>