---
permalink: "contact/index.html"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact | In Tune Music Therapy</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="icon" href="/images/logo/favicon_vector.svg" type="image/svg+xml" />
  <link rel="alternate icon" href="/images/logo/favicon-32.png" sizes="32x32" type="image/png" />
</head>

<body class="home-page">
{% include "header.njk" %}

  <main>
      <section id="contact" class="contact-section">
      <div class="contact-container">
          <div class="contact-text">
          <h2><b>Contact</b></h2>
          <hr />
          <p>Ready to explore how music can support your mental health?</p>
          <p>Reach out below for a free consultation.</p>
          <p>Email: <a href="mailto:info@intunemt.com" class="contact-link">info@intunemt.com</a></p>
          <div style="display:grid;width:100%;height:100%;min-width:320px;min-height:600px"><iframe title="Carepatron Online Booking" alt="Book appointments online via Carepatron" width="100%" height="100%" src="https://book.carepatron.com/In-Tune-Music-Therapy/Makenzie?p=DaxTg78NSuOzo0reQKmZtw&s=STN6.jTU&e=i" style="border:0;"></iframe></div>
          </div>
          <div class="contact-image">
          <img src="/images/pictures/artem-ka--a7pIH3sXOY-unsplash.jpg" alt="Lit sign saying music is the answer" />
          </div>
      </div>
      </section>
  </main>

{% include "footer.njk" %}
<script src="js/navigation.js"></script>
<script src="js/main.js"></script>
</body>
</html>