---
permalink: "professionals/index.html"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About | In Tune Music Therapy</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="icon" href="/images/logo/favicon_vector.svg" type="image/svg+xml" />
  <link rel="alternate icon" href="/images/logo/favicon-32.png" sizes="32x32" type="image/png" />
</head>

<body class="home-page">
{% include "header.njk" %}

    <main></main>

    {% include "footer.njk" %}
</body>