---
permalink: "services/index.html"
---

<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}

<body class="home-page">
{% include "header.njk" %}

  <main>
    <section id="music-therapy" class="services-page-music-therapy">
      <h2>Looking for Supervision or Consulation? Professionals <a href="/professionals/" class="learn-more-btn">Click Here</a></h2>
      <div class="services-page-columns">
        <!-- Left column: image -->
        <div class="services-page-image">
          <img src="/images/pictures/piano-7253596_1920.jpg" alt="Keyboard representing music therapy" />
        </div>

        <!-- Right column: text content -->
        <div class="services-page-text">
          <h2><b>Music Therapy Services</b></h2>
          <hr />
          <p>
            <b>Individual Music Therapy Sessions</b><br><br>
            After an assessment session, sessions are 45-50 minutes long focusing on your mental health goals through music therapy techniques such as directed music listening, music making, songwriting and more.  No music experience required. <br>
          </p>
        </div>
      </div>
    </section>
  </main>

{% include "footer.njk" %}
<script src="js/navigation.js"></script>
<script src="js/main.js"></script>
</body>
</html>