---
permalink: "services/index.html"
---

<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}

<body class="home-page">
{% include "header.njk" %}

  <main>
    <section id="music-therapy" class="services-page-music-therapy">
      <h2>Looking for Supervision or Consulation? Professionals <a href="/professionals/" class="learn-more-btn">Click Here</a></h2>
      <div class="services-page-columns">
        <!-- Left column: image -->
        <div class="services-page-image">
          <img src="/images/pictures/piano-7253596_1920.jpg" alt="Keyboard representing music therapy" />
        </div>

        <!-- Right column: text content -->
        <div class="services-page-text">
          <h2><b>Music Therapy Services</b></h2>
          <hr/>
          <p>
            <b>Individual Music Therapy Sessions</b><br><br>
            I currently offer individual music therapy for adults (18+) seeking support for emotional and mental health concerns. If you would typically pursue talk therapy for something you're navigating, a mental health music therapy approach with me may also be an appropriate and powerful option.<br><br>
            Our work begins with getting to know you, including your story, your goals, and how music resonates in your life. From there, sessions develop organically and intentionally, with ongoing clinical attunement guiding the direction of our work.  <br><br>Sessions are 45–50 minutes and are tailored to your evolving goals. Music is integrated from the beginning, and our work unfolds collaboratively over time.  No music experience required. <br>
          </p>
        </div>
      </div>
    </section>
  </main>

{% include "footer.njk" %}
<script src="js/navigation.js"></script>
<script src="js/main.js"></script>
</body>
</html>